<div class="row justify-content-center">
  <div class="col col-md-10">
    <div class="card text-center">
      <h1 class="card-header">
        <%= t('.header', title: @test_passage.test.title) %>
      </h1>
      <% if @test_passage.success? %>
      <div class="card-body">
        <p><%= t('.success') %></p>
        <p class="text-success"><%= t('.result', total: @test_passage.result) %></p>
      </div>
        <% if !@new_badges.empty? %>
        <div>
          <p><%= t('.new_badges') %></p>
          <% @new_badges.each do |badge| %>
            <%= image_tag("/badges/#{badge.file}", size: "300x400", alt: "Бэйдж за #{badge.title}") %>
          <% end %>
        </div>
        <% end %>
      <% else %>
      <div class="card-body">
        <p><%= t('.fail') %></p>
        <p class="text-danger"><%= t('.result', total: @test_passage.result) %></p>
      </div>
      <% end %>
      <%= link_to t('.all'), tests_path, class: 'btn btn-outline-dark' %>
    </div>

  </div>
</div>
