<h1><%= t('.header', title: @test.title) %></h1>
<div>
  <%= link_to t('.add_question'), new_admin_test_question_path(@test) %>
</div>
<div>
  <p><%= t('.category') %>: <strong><%= @test.category.title %></strong></p>
  <p><%= t('.level') %>: <strong><%= @test.level %></strong></p>
</div>
<div>
  <p><%= t('.questions') %>:</p>
  <ol><% @test.questions.each do |question| %>
    <li><%= question.body %> (<%= link_to t('.show'), admin_question_path(question) %>,
                              <%= link_to t('.edit'), edit_admin_question_path(question) %>,
                              <%= link_to t('.delete'), admin_question_path(question),
                              method: :delete, data: { confirm: t('.confirm') } %>)</li>
  <% end %></ol>
</div>
<div>
  <%= link_to t('.edit'), edit_admin_test_path(@test) %>
  <%= link_to t('.back'), admin_tests_path %>
</div>
