<h1>Test: <%= @test.title %></h1>
<div>
  <%= link_to "Add question", new_test_question_path(@test) %>
</div>
<div>
  <p>Category: <strong><%= @test.category.title %></strong></p>
  <p>Level: <strong><%= @test.level %></strong></p>
</div>
<div>
  <p>Questions:</p>
  <ol><% @test.questions.each do |question| %>
    <li><%= question.body %> (<%= link_to "Show", question_path(question) %>,
                              <%= link_to "Edit", edit_question_path(question) %>,
                              <%= link_to "Delete", question_path(question),
                              method: :delete, data: { confirm: "Are you sure?" } %>)</li>
  <% end %></ol>
</div>
<div>
  <%= link_to "Edit", edit_test_path(@test) %>
  <%= link_to "Back", tests_path %>
</div>
